html, body {
    height: 100%;
}

body {
    background-color: #eee;
}

.node {
    stroke: #555;
    stroke-width: 1px;
}

.link {
    fill: none;
    stroke: #999;
    stroke-opacity: .6;
}

.label,
.node text {
    font: 14px helvetica;
    pointer-events: none;
}

.legend ul {
    padding: 0;
}

.legend li {
    display: inline-block;
    width: 100%;
    color: white;
    padding: 10px 20px;
}

.ui-autocomplete {
    z-index: 10000;
}

.success-validation a {
    cursor: default;
}

.success-validation a:focus,
.success-validation a:hover, {
    color: #777 !important;
}

.success-validation .counter {
    background-color: #5cb85c;
}

.error-validation .counter {
    background-color: #f0ad4e;
}

#validation-list span {
    margin: 0 5px;
    vertical-align: text-top;
}

#validation-list .validation-item {
    display: inline-block;
    padding: 5px 10px;
    width: 700px;
    cursor: pointer;
}

#validation-list .glyphicon-ban-circle {
    color: #d9534f;
}

#validation-list .glyphicon-exclamation-sign {
    color: #f0ad4e;
}

#validation-list .glyphicon-info-sign {
    color: #5bc0de;
}

.find-node {
    cursor: pointer;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.graph-container {
    margin: 20px;
}